*{
    margin: 0px;
    padding: 0px;
}

.main{
    /* margin: 100%;
    height: 100vh; */
    position: relative;
    font-family: sans-serif;

}
body{
    margin: 30px;
    padding: 0px 50px;
}

.body{
    
    display: flex;
    text-align: center;
    justify-content: space-between;

}

.logo{
    margin-top: 16px;
    font-size: 40px;
    cursor: pointer;
    color: black;
}


.body .btn{
    margin-top: 16px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(51, 47, 47);
    margin: 16px 0px;
    padding: 10px 30px;
    border-radius: 35px;
    display: inline-block;
}

#sub{
    border: 1px solid #000;
    padding: 10px 30px;
    border-radius: 35px;
    text-decoration: none;
    
}
#sub:hover{
    background-color: #000;
    color: #fff;
}
.body a:hover{
    color: black;
}
/* 
#hr{
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;
    

} */


/* two lines box  */

.box{
    width: 100%;
    height: 70px;
    border: 1px solid #000;
    border-right: none;
    border-left: none;
    
}


/* ul{
    display: flex;
    align-items: center;
    height: 70px;
    gap: 50px;
}



ul li a:hover{
    color: red;
}

 */
.link ul li {
    list-style-type: none;
   
}
.link ul li a{
    text-decoration: none;
    font-weight: bold;
    color: darkblue;
    transition: 1s ease;
}
ul li a:hover{
    color: red;
}
ul{
    display: flex;
    gap: 50px;
}
.link {
    display: flex;
    padding: 25px 0px 0px 0px ;
    gap: 50px;
}



/* .line{
    height: 20px;
    width: 1px ;
    background-color: #000;
   
} */
.content{
    padding: 25px 50px;
    
}

.info{
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    

}

.info h1{
    font-size: 65px;
    color: black;
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 23px;
}


 
.info span{
    color: darkblue;
}

.info em{
    color:  red;
}


/* 
.image img{
    position: absolute;
    height: 320px;
    left: 40%;
    transform: translate(-50%);
    bottom: 0px;
    padding: 0px 0px 25px;
   
} */


.image img{
    width: 300px;
   
}

.image .boy{
    transition: left 2s ease;
}

.image .boy{
    left: 55%;
}


.about{
    font-weight: bold;
    color: black;
    background-color: lightblue;
    
    
}
.about p{
    /* margin: 10px 10px;
    padding: 10px 10px; */
    padding: 20px 20px 20px 20px;
}

.icon{
    width: 200px;
    margin-top: 20px;
}

.icon img{
    display: flex;
    width: 200px;
    display:inline-block;
    justify-content: space-between;
}

.icons{
    width: 300px;
    display: flex;
    text-decoration: none;
    color: black;
    justify-content: space-between;
}
.icons i{
    margin-left: 170px;
}